<h1>Hello HBS</h1>

<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas vero, aliquam et facilis quidem tenetur. Dolorum necessitatibus consequuntur illo, accusamus nisi quis ex est sequi quo dignissimos quam error cum.
</p>

<p>
    {{#if message}}
    {{message}}
    {{else}}
    No message, L
    {{/if}}
</p>