/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "top top top top top top"
    "main main main main sidebar sidebar";
}
header {
    background-color: teal;
    color: #ffffff;
    grid-area: top;
}
main {
    background-color: darkslateblue;
    color: #ffffff;
    grid-area: main;
}
aside {
    background-color: olive;
    color: #ffffff;
    grid-area: sidebar;
}